
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo:wght@700&family=Bebas+Neue&family=Fuzzy+Bubbles&family=Inconsolata&family=Luxurious+Script&family=Satisfy&family=Shizuru&display=swap');
body{
	margin: 0;
}

header{
	height: 400px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("image3.jpg");
	background-size: cover;
	background-position: center;

}

header h1{
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 20px;
	color: purple;
}

main{
	padding: 100px;
	background: rgb(142,204,217);

background: linear-gradient(241deg, rgba(142,204,217,1) 5%, rgba(236,164,227,1) 32%, rgba(226,161,221,1) 40%, rgba(135,139,172,1) 77%);
    }
main p{
	column-count: 2;
	font-family: Bebas Neue;
}

.hobby{
	height: 300px;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightpink;
}

	footer{
		height: 400px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background-image: url("image4.jpg");
		
	}

	footer p{
		padding: 30px;
		 color: white;
		 background-color: rgba(193, 151, 209, 0.6);
		 border-radius: 20px;
		 font-family: Shizuru;

	}