/*
*
* Title: Infoseite Über Paris;
*Author:  Lea Lulaj;
*Date: 18.03.2022;
*
*/


/*****************General Styling*********************/

body{
	margin: 0;
}

/*Navigation*/

nav{
	background-color: rosybrown;
	display: flex;
	justify-content: space-between; /*to make space between logo und links*/
	align-items: center;
	padding: 30px;
	background: rgb(153,104,51);
background: radial-gradient(circle, rgba(153,104,51,1) 33%, rgba(227,160,87,1) 54%, rgba(116,38,38,1) 91%);
 		

}
nav img {
	height: 120px; /* To reduce the size of the logo image*/
	border-radius: 50%;
}

nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none; /* to remove the bullet points of our list*/
}

nav ul li a{
	margin: 15px;
	padding: 20px;
	background-color: goldenrod;
	text-decoration: none;
	color: white;
	border-radius: 20px;
}

nav ul li a:hover{
	background-color: purple;
	color: yellow;
	background: rgb(153,51,58);
background: radial-gradient(circle, rgba(153,51,58,1) 28%, rgba(203,150,71,1) 51%, rgba(116,38,38,1) 91%);

  }

  /*Header*/
  header{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 400px;
  	padding: 20px;
  	background-image: url("img2.jpg");
  	background-position: center;
  	background-size: cover;
  }

  header h1{
  	font-size: 25px;
  	background-color: rgba(225, 225, 225, 0.7);
  	padding: 20px;
  }

  /*Section*/
  section{
  	padding: 60px;
  	background-color: saddlebrown;
  }

  section h2{
  	font-size: 25px;
  	color: darkred;
  	background-color: white;
  }

  /* Footer*/
  footer{
  	height: 400px;
  	display: flex;
  	justify-content: space-evenly;
  	align-items: center;
 		background: rgb(226,188,117);
background: radial-gradient(circle, rgba(226,188,117,1) 16%, rgba(158,63,60,1) 43%, rgba(138,92,0,1) 79%);

   }

   footer p{
   	background-color: rgba(225, 225, 225, 0.7);
   	padding: 10px;

   }
