
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo:wght@700&family=Bebas+Neue&family=Fuzzy+Bubbles&family=Hubballi&family=Inconsolata&family=Luxurious+Script&family=Quicksand&family=Roboto:wght@100;300&family=Satisfy&family=Shizuru&display=swap');

body{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: lightgrey;
	font-family: "Roboto";
}

article{
	position: relative;
}
article .image{
	height: 200px;
	width: 300px;
	background-image: url("img1.jpg");
	background-size: cover;
	background-position: center;
	padding: 30px;
}



article .text {
	height: 200px;
	width: 300px;
	background-color: white;
	padding: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
}

article .text .mini-header {
	text-transform: uppercase;
	font-size: 12px;
}

article .text .mini-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: darkgrey;
	font-size: 12px;
	width: 100%;
}

.box{
	background-color: red;
	color: white;
	padding: 6px;
	text-transform: uppercase;
	position:absolute ;
	top: 233px;
	left: 0px;
	font-size: 13px;
}