<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Template</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>





<nav>
<img src="logo.png"alt="Logo">
<ul>
<li><a href="">Project</a></li>
<li><a href="">About</a></li>
<li><a href="">Contact</a></li>
</nav>






<main>
<div style="background-image:url(img1.jpg);">
<p>
	summer house
</p>

</div>
<div style="background-image:url(img2.jpg);">
<p>
	Brick House
</p>
</div>
<div style="background-image:url(img3.jpg);">
<p>
	Renovated
</p>

</div>
<div style="background-image:url(img4.jpg);">
<p>
	Barn House
</p>

</div>
<div style="background-image:url(img5.jpg);">
<p>
	Summer House
</p>

</div>
<div style="background-image:url(img6.jpg);">
	<p>
		winter House
	</p>
</div>
<div style="background-image:url(img7.jpg);">
	<p>
		Family House
	</p>
</div>
<div style="background-image:url(img8.jpg);">
<p>
	Summer 
</p>
</div>

<h2>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper facilisis quam a semper. Donec ut felis in urna imperdiet lobortis in in massa. Aenean vitae magna sit amet enim lacinia porta quis et nulla. Vestibulum eu vestibulum risus, quis molestie mauris. Fusce condimentum diam at odio tempor, et dignissim massa iaculis. Quisque et est finibus, lobortis dui non, pulvinar purus. Nullam venenatis velit id volutpat pellentesque. Nunc elit massa, cursus et felis ut, aliquet gravida nulla. Aenean accumsan efficitur leo id scelerisque. Phasellus id facilisis ex, sit amet ultrices urna. Praesent eu leo est. Integer pellentesque sodales lacus et cursus. Vivamus malesuada, felis non facilisis volutpat, ex ante luctus metus, eget faucibus lectus magna at dui. Nulla eu purus eleifend, convallis tortor ut, mattis lorem.

Ut vulputate molestie interdum. Integer sit amet mi sollicitudin, tristique tortor ac, feugiat elit. Phasellus pellentesque nunc et venenatis viverra. Duis luctus ex at malesuada elementum. Maecenas finibus non nulla eget volutpat. Vivamus lacinia orci quam, eu egestas est molestie sed. Fusce eleifend dapibus orci, ut faucibus sem.


</h2>


</main>
</body>
</html>