@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo:wght@700&family=Bebas+Neue&family=Fuzzy+Bubbles&family=Inconsolata&family=Luxurious+Script&family=Satisfy&family=Shizuru&display=swap');

h1{
	display: flex;
align-items:center;
justify-content:center;
padding:50px;
height:100px;
font-family: Raleway;
}


h2 {
display: flex;
align-items:center;
justify-content:center;
padding:20px;
margin:50px;
height:100px;
font-family: Dancing Script;
}

header {
font-size: 20px;
}


.a{
	border: dotted 5px black;
	column-count: 3;
	font-family: Raleway;
	padding: 29px;
}

#b{
	background: rgb(55,146,164);
background: radial-gradient(circle, rgba(55,146,164,1) 25%, rgba(87,106,227,1) 57%);
border: dotted 5px block;
padding: 50px;
justify-content: center;
align-items: center;
display: flex;
}


.b p{
	background-color: white;
	padding: 30px;
}

div{ 
 
 		margin: 30px;
 		height: 200px;
 }

.c p{
	background-color: white;
	padding: 5px;
	margin: 0px;
}


#d{
	background-color: blue;
	border: dotted 5px;
	justify-content: center;
	align-items: center;
	display: flex;

}


.c{
	background-color:lightblue ;
	border: dotted 5px ;
	justify-content: space-between;
	align-items: stretch;
	display: flex;
}
img{
width: 200px;
height: 100px ;
align-items: stretch;
justify-content: space-between;
border: 1px solid white;

}

footer{
	background-color:darkblue ;
	border: dotted 5px;
	justify-content: center;
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
	margin: 20ox;
	height: 300px;

}

footer p {
	background-color: white;
	margin: 8px;
	padding: 17px;
}